/* Default styles first then media queries */
@media screen and (min-width: 400px) {

  .navigation {
    height: 20%;
    margin-bottom: 5%;
  }

  .navigation__link {
    font-size: 1.4em;
    float: left;
    width: 20%;
    margin-top: 7%;
    margin-left: 2%;
  }

  .navigation__link--title {
    font-size: 1.8em;
    float: right;
    clear: right;
    width: 50%;
    margin-top: 5%;
  }
}

@media screen and (min-width: 600px)  {

}

@media screen and (min-width: 1000px) {

  body {
    width: 960px;
  }

  .navigation {
    height: 20%;
    margin-bottom: 5%;
  }

  .navigation__link {
    box-shadow: 5px 0px;
    font-size: 2em;
    float: none;
    margin-top: 5%;
    width: 15%;
  }

  .navigation__link--title {
    float: none;
    font-size: 2.5em;
    width: 40%;
  }
}

@media screen and (min-width: 1400px) {

}
